# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
tfplan*

# .terraform.lock.hcl

# Secrets / env
.env
*.pem
*.key

# OS / divers
.DS_Store